CabBookingWeb/Connected Services/RideService/CabBookingRide.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CabBookingRide" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CabBookingRide" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ride">
    <xs:sequence>
      <xs:element minOccurs="0" name="driverId" type="xs:int" />
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rideId" type="xs:int" />
      <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ride" nillable="true" type="tns:Ride" />
  <xs:complexType name="ArrayOfRide">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ride" nillable="true" type="tns:Ride" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRide" nillable="true" type="tns:ArrayOfRide" />
</xs:schema>