CabBookingWeb/Connected Services/RideService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RideService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CabBookingRide" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRide_AddRide_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRide" />
  </wsdl:message>
  <wsdl:message name="IRide_AddRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRideResponse" />
  </wsdl:message>
  <wsdl:message name="IRide_UpdateRide_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRide" />
  </wsdl:message>
  <wsdl:message name="IRide_UpdateRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRideResponse" />
  </wsdl:message>
  <wsdl:message name="IRide_DeleteRide_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRide" />
  </wsdl:message>
  <wsdl:message name="IRide_DeleteRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRideResponse" />
  </wsdl:message>
  <wsdl:message name="IRide_FindRide_InputMessage">
    <wsdl:part name="parameters" element="tns:FindRide" />
  </wsdl:message>
  <wsdl:message name="IRide_FindRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindRideResponse" />
  </wsdl:message>
  <wsdl:message name="IRide_GetRides_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRides" />
  </wsdl:message>
  <wsdl:message name="IRide_GetRides_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRidesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRide">
    <wsdl:operation name="AddRide">
      <wsdl:input wsaw:Action="http://tempuri.org/IRide/AddRide" message="tns:IRide_AddRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRide/AddRideResponse" message="tns:IRide_AddRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRide">
      <wsdl:input wsaw:Action="http://tempuri.org/IRide/UpdateRide" message="tns:IRide_UpdateRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRide/UpdateRideResponse" message="tns:IRide_UpdateRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRide">
      <wsdl:input wsaw:Action="http://tempuri.org/IRide/DeleteRide" message="tns:IRide_DeleteRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRide/DeleteRideResponse" message="tns:IRide_DeleteRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindRide">
      <wsdl:input wsaw:Action="http://tempuri.org/IRide/FindRide" message="tns:IRide_FindRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRide/FindRideResponse" message="tns:IRide_FindRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRides">
      <wsdl:input wsaw:Action="http://tempuri.org/IRide/GetRides" message="tns:IRide_GetRides_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRide/GetRidesResponse" message="tns:IRide_GetRides_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRide" type="tns:IRide">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRide">
      <soap:operation soapAction="http://tempuri.org/IRide/AddRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRide">
      <soap:operation soapAction="http://tempuri.org/IRide/UpdateRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRide">
      <soap:operation soapAction="http://tempuri.org/IRide/DeleteRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRide">
      <soap:operation soapAction="http://tempuri.org/IRide/FindRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRides">
      <soap:operation soapAction="http://tempuri.org/IRide/GetRides" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RideService">
    <wsdl:port name="BasicHttpBinding_IRide" binding="tns:BasicHttpBinding_IRide">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CabBookingRide/RideService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>