CabBookingWeb/Connected Services/RideService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CabBookingRide" />
  <xs:element name="AddRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CabBookingRide" minOccurs="0" name="ride" nillable="true" type="q1:Ride" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CabBookingRide" minOccurs="0" name="ride" nillable="true" type="q2:Ride" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rideId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rideId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CabBookingRide" minOccurs="0" name="FindRideResult" nillable="true" type="q3:Ride" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRides">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRidesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CabBookingRide" minOccurs="0" name="GetRidesResult" nillable="true" type="q4:ArrayOfRide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>